.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 13px;
    }
    
    .div1 { grid-area: 1 / 2 / 2 / 3; }

    .addbtn{
        position: fixed;
        bottom: 15px;
        right: 15px;

            --font-color: #323232;
            --font-color-sub: #666;
            --bg-color: #fff;
            --main-color: #323232;
            --main-focus: #2d8cf0;
            width: 24px;
            height: 24px;
            background: var(--bg-color);
            border: 1px solid var(--main-color);
            box-shadow: 4px 4px var(--main-color);
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            justify-content:center;
            align-items: center;
            padding: 15px;
         
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
           
          
    }

